<!doctype html>
<html>

  <head>
    <title>Gradient of News Sources Viewed and Frequency</title>
    <script src = "../static/js/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <body>
  <div class = "wrapper">

    <div id = "outer">

      <div class = "inner">
        <a href="/doughnut" type="button">Doughnut Chart</a>
      </div>

      <div class = "inner">
        <a href="/line" type="button">Line Chart</a>
      </div>

      <div class = "inner">
        <a href="/bubble" type="button">Bubble Chart</a>
      </div>

    </div>

    <h1>Gradient of News Sources Viewed and Frequency</h1>
    <canvas id="bubbleChart" width="1600" height="900"></canvas>

  </div>

    <script src = "../static/js/bubble.js"></script>
  </body>

</html>
