<!DOCTYPE html>
<html>

  <head>
    <title>Gradient of News Sources Viewed and Frequency</title>
    <script src = "../static/js/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <body>
  <div class = "wrapper">

    <div id = "outer">

      <div class = "inner">
      <form action = "doughnut.html">
        <input type = "submit" value = "Doughnut Chart"/>
      </form>
      </div>

      <div class = "inner">
      <form action = "line.html">
        <input type = "submit" value = "Line Chart"/>
      </form>
      </div>

      <div class = "inner">
      <form action = "coordinate-gradient.html">
        <input type = "submit" value = "Bubble Chart"/>
      </form>
      </div>

    </div>

    <h1>Gradient of News Sources Viewed and Frequency</h1>
    <canvas id="bubbleChart" width="1600" height="900"></canvas>

  </div>

    <script src = "../static/js/bubble.js"></script>
  </body>

</html>
