<!doctype html>
<html>

  <head>
    <title>Where's Your Article?</title>
    <script src = "../static/js/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <body>
  <div class = "wrapper">

    <h2>Article on the Gradient</h2>
    <canvas id="gradient" width="200" height="100"></canvas>

    <div id = "outer">

      <div class = "inner">
        <a href="/doughnut" target="_blank" type="button">History</a>
      </div>

    </div>

  </div>

    <script src = "../static/js/gradient.js"></script>
  </body>

</html>
